@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f9f9f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.filter-white {
  filter: brightness(0) invert(1);
}

.filter-purple:hover {
  filter: invert(26%) sepia(72%) saturate(4409%) hue-rotate(252deg)
    brightness(98%) contrast(94%);
}

.filter-purple-always {
  filter: invert(26%) sepia(72%) saturate(4409%) hue-rotate(252deg)
    brightness(98%) contrast(94%);
}

.filter-gray {
  filter: invert(69%) sepia(2%) saturate(2294%) hue-rotate(204deg)
    brightness(87%) contrast(96%);
}
